<main class="treatment">
  <section>
    <h1>{{treatment.name}}</h1>
    <div class="treatment__info" *ngFor="let medication of treatment.medications" role="listitem">
      <p *ngIf="!isNewTreatment">Profile: <strong>{{ profile.name }}</strong></p>

      <p>Doctor: <strong>{{ treatment.author }}</strong></p>

      <p>Access: <strong>{{ accessType }}</strong></p>

      <p>Medication: <strong>{{ medication.name }}</strong></p>

      <mat-form-field appearance="fill" *ngIf="isNewTreatment">
        <mat-label>Profile</mat-label>
        <mat-select [(value)]="selectedProfile">
          <mat-option *ngFor="let profile of user.profiles" [value]="profile">
            {{ profile.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>

      <span *ngIf="isNewTreatment">
        <button mat-flat-button (click)="accept()" color="primary">Accept</button>
        &nbsp;
        <button mat-flat-button (click)="decline()" color="warn">Decline</button>
      </span>
      
      &nbsp;
      <a *ngIf="isNewTreatment" mat-stroked-button [routerLink]="['/profiles']">Back</a>
      <a *ngIf="!isNewTreatment"mat-stroked-button [routerLink]="['/profile', profile.name]">Back</a>
      <mat-divider></mat-divider>
    </div>
  </section>
</main>
