@import "../../app.component.scss";

.treatment {
  @extend .display-flex;
  
  section {
    margin: 24px;
  }
  
  h1 {
    text-align: center;
  }
  
  &__info {
    justify-content: center;
    button {
      margin-bottom: 14px;
    }
  }
}