@import '../../app.component.scss';

.auth {
  margin: 24px;
  h1 {
    width: 100%;
    text-align: center;
  }
  &__form {
    @extend .display-flex;

    mat-form-field {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
